@use "./breakpoints.scss" as breakpoints;

.mask {
    pointer-events: none;
    mask-size: 100% 100%;
}

@media (max-width: breakpoints.$s) {
    .position {
        top: auto;
        bottom: calc(var(--static-space-16) + env(safe-area-inset-bottom));
        width: 100%;
        left: 0;
        right: 0;
    }

    .mask {
        bottom: 0;
    }
}